<!-- Background Image with Title Overlay -->
<!--<div class="relative w-full h-60 sm:h-[550px] bg-cover bg-fixed bg-center bg-no-repeat" style="background-image: url('assets/contact.jpg');">
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-white"></div>-->
  
  <!-- Title Overlay -->
  <!--<div class="absolute inset-0 flex items-center justify-center">
    <h1 class="text-4xl md:text-5xl mt-0 lg:mt-[15%] font-heading font-bold text-gray-900">Get In Touch</h1>
  </div>
</div>-->

<!-- Contact Section -->
<app-contact-card></app-contact-card>