<footer class="footer">
      <div class="container container-sm">
          <div class="footer-logo"><img src="assets/images/logo.svg" alt=""></div>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="ft-hdr">Quick Links</h4>
                    <ul class="ft-list">
                      <li><a routerLink="/home" (click)="scrollToTop()">Home</a></li>
                      <li><a routerLink="/about" (click)="scrollToTop()">About</a></li>
                      <li><a routerLink="/features" (click)="scrollToTop()">Features</a></li>
                      <li><a href="https://www.strike9consulting.com" target="_blank">Strike 9 Consulting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="ft-hdr">Support & Contact</h4>
                    <ul class="ft-list">
                      <li><a routerLink="/contact" (click)="scrollToTop()">Contact Us</a></li>
                      <!--<li><a routerLink="/techoverview" (click)="scrollToTop()">Technical Support</a></li>-->
                      <li><a href="mailto:info@mymenu.ai">Technical Support</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="ft-hdr">Connect</h4>
                    <ul class="ft-list">
                      <li><a href="https://www.instagram.com/mymenuai?igsh=bGk1dDIyOGQ5ZGpo" target="_blank" rel="noopener noreferrer"><span><i class="fab fa-instagram"></i></span>Instagram</a></li>
                      <li><a href="https://www.facebook.com/profile.php?id=61571314174047&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer"><span><i class="fab fa-facebook"></i></span>Facebook</a></li>
                      <li><a href="https://x.com/MyMenuAi" target="_blank" rel="noopener noreferrer"><span><i class="fab fa-x-twitter"></i></span>Twitter / X</a></li>
                      <li><a href="http://www.linkedin.com/in/mymenu-ai-783848342" target="_blank" rel="noopener noreferrer"><span><i class="fab fa-linkedin"></i></span>Linkedin</a></li>
                    </ul>
                </div>
          </div>
          <div class="footer-bottom">
              <p>A product of <a href="https://www.strike9consulting.com" target="_blank">Strike 9 Consulting</a> ©2026 MyMenu.Ai · All rights reserved.</p>
              <ul>
                <li><a routerLink="/terms-and-conditions" (click)="scrollToTop()">Term of use</a></li>
                <li><a routerLink="/privacy-policy" (click)="scrollToTop()">Privacy policy</a></li>
                <li><a routerLink="/security" (click)="scrollToTop()">Security</a></li>
              </ul>
          </div>
      </div>
  </footer>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
