 <section class="plan-sec common-gap">
    <div class="container container-sm">
        <div class="cmn-hdr text-center hdr-wdth mb-5">
          <h2>Straightforward Plans That Scale With You</h2>
          <p class="sm">Pay per location for smaller operators—or choose enterprise plans for multi-brand portfolios.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="plan-card">
                    <div class="plan-card-content">
                        <h3><span><img src="assets/images/plan-icon-1.svg" alt=""></span>Menu Pricing Insights</h3>
                        <p>Costing Insights</p>
                        <h2>FREE</h2>
                        <ul>
                          <li>Items pricing overview</li>
                          <li>Basic performance insights</li>
                          <li>Limited competitor visibility</li>
                          <li class="disabled">AI-Driven Sales & Margin Analysis</li>
                          <li class="disabled">Customer Traffic Insights</li>
                        </ul>
                    </div>
                    <div class="plan-btn">
                        <button type="button" class="btn btn-outline" onclick="window.location.href='/login';">Start Free Evaluation</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="plan-card">
                    <div class="plan-card-content">
                        <h3><span><img src="assets/images/plan-icon-2.svg" alt=""></span>Basic</h3>
                        <p>Essential Insights</p>
                        <h2>$150 <span>/month</span></h2>
                        <ul>
                          <li>Menu pricing overview</li>
                          <li>Basic performance insights</li>
                          <li>Limited competitor visibility</li>
                          <li class="disabled">AI-Driven Sales & Margin Analysis</li>
                          <li class="disabled">Customer Traffic Insights</li>
                          <li class="disabled">Automated Recommendations</li>
                        </ul>
                    </div>
                    <div class="plan-btn">
                         <button type="button" class="btn btn-outline" onclick="window.location.href='/login';">Get Your  Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="plan-card">
                  <div class="plan-card-content">
                        <h3><span><img src="assets/images/plan-icon-3.svg" alt=""></span>Growth <em class="popular-badge">Popular</em></h3>
                        <p>AI-Powered Analytics</p>
                        <h2>Custom Pricing</h2>
                        <ul>
                          <li>AI-Driven Sales & Margin Analysis</li>
                          <li>Customer Traffic Insights</li>
                          <li>Forecasting</li>
                          <li>Automated Recommendations</li>
                          <li class="disabled">Cost & Supply Chain Analysis</li>
                          <li class="disabled">Custom Data Integration</li>
                        </ul>
                    </div>
                    <div class="plan-btn">
                        <button type="button" class="btn btn-outline" onclick="window.location.href='/login';">Contact Sales</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="plan-card">
                   <div class="plan-card-content">
                        <h3><span><img src="assets/images/plan-icon-4.svg" alt=""></span>Enterprise</h3>
                        <p>Custom Pricing</p>
                        <h2>Custom Pricing</h2>
                        <ul>
                          <li>AI-Driven Sales & Margin Analysis</li>
                          <li>Customer Traffic Insights</li>
                          <li>Forecasting</li>
                          <li>Automated Recommendations</li>
                          <li>Cost & Supply Chain Analysis</li>
                          <li>Custom Data Integration</li>
                        </ul>
                    </div>
                    <div class="plan-btn">
                        <button type="button" class="btn btn-outline" onclick="window.location.href='/login';">Contact Sales</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
