/* Video and overlay styling */
#responsiveBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: opacity 0.5s ease, background-color 0.5s ease; /* Smooth transitions */
}

#responsiveBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); /* Gradient overlay */
  z-index: 1; /* Ensures the overlay appears above the video */
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
  z-index: -1; /* Places the video behind everything */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Ensures text content is above the overlay */
.relative.z-10 {
  z-index: 2;
}
/* 24-3 */
.banner {
  padding: 112px 0;
  margin-top: 85px;
  background: #FAFAFA;
}
.tag-top {
  display: inline-flex;
  align-items: center;
  gap:10px;
  font-weight: 500;
  padding: 8px 12px;
  border: 1px solid #B6BCCD;
  box-shadow: 0px 10px 18px 0px #3A4C921A;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family:var(--secondary-font);
}
.tag-top.wh {
  background: #fff;
  color: var(--primary-color);
  text-transform: uppercase;
}
.banner-content h1 {
  margin-bottom: 20px;
}
.banner-content p {
  color: #1E1E1E;
}
.ban-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.ban-bottom li {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 300;
  color: #1E1E1E;
  font-family: var(--secondary-font);
  padding-right: 10px;
}
.ban-bottom li:first-child {
  list-style-type: none;
}
.ban-bottom li:last-child {
  padding-right: 0;
}
.counter-sec {
  padding: 35px 0;
  background: #F4F4F4;
}
.counter-innr {
  max-width: 180px;
}
.counter-innr h4 {
  font-size: 48px;
  font-weight: 700;
  color: #1C1F25;
  margin-bottom: 22px;
}
.counter-innr p {
  color: #1C1F25;
  font-size: 18px;
  margin-bottom: 0;
}
.counter-img {
  display: inline-block;
  margin-bottom: 15px;
}
.gap-100 {
  gap: 100px;
}
.banner-img {
  border-radius: 10px;
  overflow: hidden;
}
.banner-img img {
  width: 100%;
}
.pricing-sec {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.pricing-sec:after {
  position: absolute;
  content: '';
  background: rgba(31, 111, 92, 0.64);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cmn-hdr.wh h2 {
  color: #fff;
}
.cmn-hdr h2 {
  margin-bottom: 16px;
}
.cmn-hdr.wh p {
  color:rgba(255, 255, 255, 0.64);
}
.cmn-hdr p {
  color: #4B5162;
  font-size: 20px;
  margin-bottom: 0;
  font-family: var(--secondary-font);
}
.cmn-hdr p.sm {
  font-size: 16px;
}
.cmn-hdr {
  margin-bottom: 32px;
}
.pricing-content h4 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}
.pricing-content ul li {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 32px;
  position: relative;
  padding-left: 36px;
}
.pricing-content ul li:after {
  position: absolute;
  content: '';
  background: url('../../../assets/images/cross.svg') no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}
.pricing-content ul li:last-child {
  margin-bottom: 0;
}
.pricing-box {
  background: #56CAAE;
  padding: 116px 83px;
  border-radius: 20px;
}
/*  */
.pricing-box h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.pricing-box h3 span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 12px;
  width: 50px;
  height: 50px;
}
.pricing-box p {
  font-size: 20px;
  color: #000000;
  font-family: var(--secondary-font);
  margin-bottom: 38px;
}
.pricing-box figure {
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
}
.pricing-box figure img {
  width: 100%;
}
.pricing-content .btn {
  min-width: 198px;
}
.btn.w-241 {
  min-width: 241px;
}
.btn.w-198 {
  min-width: 198px;
}
.cmn-hdr.hdr-wdth {
  margin-bottom: 80px;
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}
.what-mymenu {
  background: #F4F4F4;
}
.what-mymenu-card {
  border: none;
  border-radius: 12px;
  padding: 32px 30px;
  text-align: left;
  background: #fff;
  transition: 0.3s;
  height: 100%;
}
.what-mymenu-card h4 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.what-mymenu-card ul li {
  border-top: 1px solid #0000001F;
  padding: 22px 0;
  color: #0D121F;
  font-size: 16px;
  font-family: var(--secondary-font);
  padding-left: 36px;
  position: relative;
}
.what-mymenu-card ul li:after {
  position: absolute;
  content: '';
  background: url('../../../assets/images/list.svg') no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.btn-wrapper {
  display: flex;
  gap: 16px;
}
.btn-wrapper .btn {
  min-width: 198px;
}
.btn-wrapper .btn.btn-outline {
  background: rgba(35, 157, 137, 0.08);
}
.how-it-img {
  margin-bottom: 0;
  border-radius: 12px;
  overflow: hidden;
}
.how-it-img img {
  width: 100%;
}
.how-it-content {
  padding-right: 80px;
}
.how-it-content ul li {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  position: relative;
}
.how-it-content ul li:after {
  position: absolute;
  content: '';
  background: url('../../../assets/images/down-arrow.svg') no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 35px;
  left: 14px;
  top: 63%;
}
.how-it-content ul li:last-child:after {
  display: none;
}
.how-it-content ul li h4 {
  font-size: 24px;
  font-weight: 700;
  color: #1C1F25;
}
.how-it-content ul li p {
  color: #596780;
  margin-bottom: 0;
  font-family: var(--secondary-font);
}
.how-it-content ul li:last-child {
  margin-bottom: 0;
}
.how-it-content ul li span {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 100%;
  background: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.providers-sec {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.providers-sec:after {
  position: absolute;
  content: '';
  background: rgba(31, 111, 92, 0.64);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.providers-card {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 24px 40px;
  height: 100%;
}
.icon-wrapper {
  margin-bottom: 18px;
  display: block;
}
.icon-wrapper img {
  display: inline-block;
}
.providers-card h4 {
  margin-bottom: 18px;
  color: #FFFFFF;
}
.providers-card p {
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: var(--secondary-font);
}
.providers-sec .cmn-hdr {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.providers-sec .cmn-hdr p {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.btm-txt {
  margin-top: 40px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--secondary-font);
}
.mt-72 {
  margin-top: 72px;
}
.old-way-content h4 {
  font-size: 24px;
  border-bottom: 1px solid #1A202C52;
  padding-bottom: 16px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
}
.old-way-content ul li {
  margin-bottom: 32px;
  padding-left: 34px;
  color: #0D121F;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--secondary-font);
  position: relative;
}
.old-way-content ul li:after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}
.old-way-content ul.list-1 li:after {
  background-image: url('../../../assets/images/list-1.svg');
}
.old-way-content ul.list-2 li:after {
  background-image: url('../../../assets/images/list-2.svg');
}
.old-way-content ul li:last-child {
  margin-bottom: 0;
}
.area-sm {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.operators-sec {
  background: #F4F4F4;
}
.cost-sec {
  padding: 72px 0;
  background: var(--primary-color);
}
.cost-sec h3 {
    color: #fff;
}
.cost-sec p {
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 0;
}
.cost-area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.cost-icon-1 {
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
}
.cost-icon-2 {
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
}
.faq-content {
  max-width: 436px;
}
.faq-accordion .card {
  padding: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #ECEEF4;
}
.faq-accordion .card-header {
  background: transparent;
  padding: 0;
  border: 0;
}
.faq-accordion .card-header a {
  color: #1C1F25;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 24px 20px;
  display: block;
  position: relative;
}
.faq-accordion .card-header a:before {
  position: absolute;
  content: '';
  background: var(--primary-color);
  width: 4px;
  height: 14px;
  border-radius: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.faq-accordion .card-header a.collapsed:after {
  background-image: url(../../../assets/images/acc-arrow-down.svg);
}
.faq-accordion .card-header a:after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../../assets/images/acc-arrow-up.svg);
}
.faq-accordion .card-body {
  padding: 0 0 20px;
}
.ready-to-make {
  background: #F4F4F4;
}
.ready-to-make-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  padding: 82px 60px;
  position: relative;
  z-index: 1;
}
.ready-to-make-wrapper:after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.72);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.ready-to-make-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.ready-to-make-btn .btn.btn-outline-grey {
  color: #fff;
}
.ready-to-make-wrapper .ban-bottom {
  justify-content: center;
}
.ready-to-make-wrapper .ban-bottom li {
  color: #fff;
}
.operators-card {
  border: 1px solid #B6BCCD;
  backdrop-filter: blur(80px);
  background: #FAFAFA;
  border-radius: 20px;
  padding: 40px;
  padding-top: 100px;
  height: 100%;
  text-align: center;
  min-height: 520px;
}
.testimonial-slider .swiper-wrapper {
  padding: 0 100px;
}
.operators-card h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
} 

.operators-card p {
  font-size: 20px;
  font-weight: 500;
  color: #1C1F25;
  margin-bottom: 30px;
}
.operators-card figure {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.operators-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.operators-card h5 {
  color: #343844;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--secondary-font);
  margin-bottom: 0;
}
.operators-card h6 {
  color: #4B5162;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--secondary-font);
  margin-bottom: 0;
}
.plan-sec {
  background: #F4F4F4;
}
.plan-card {
  background: #FFFFFF;
  padding: 32px 24px;
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #0D121F;
  display: flex;
  gap: 12px;
  margin-bottom: 21px;
}
.plan-card p {
  color: #596780;
}
.plan-card h2 {
  font-size: 32px;
  font-weight: 600;
  color: #0D121F;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.plan-card h2 span {
  color: #596780;
  font-size: 18px;
  font-weight: 500;
}
.plan-card ul {
  margin-bottom: 50px;
}
.plan-card ul li {
  margin-bottom: 12px;
  font-weight: 500;
  color: #0D121F;
  position: relative;
  padding-left: 34px;
}
.plan-card ul li:after {
  position: absolute;
  content: '';
  background: url('../../../assets/images/tick.svg') no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}
.plan-card ul li.disabled {
  color:#596780;
}
.plan-card ul li.disabled:after {
  background-image: url('../../../assets/images/cross-2.svg');
}
.plan-card ul li:last-child {
  margin-bottom: 0;
}
.plan-card .btn {
  border-radius: 30px;
  width: 100%;
}
.plan-card .btn.btn-outline {
  background: rgba(35, 157, 137, 0.08);
}
.popular-badge {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #0D121F;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  line-height: 1;
  text-align: center;
}

.checkbox-container {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #1E1E1E;
  padding-left: 23px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container p {
  margin-bottom: 0;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  border: 1px solid #AEAEAE;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.checkbox-container input:checked ~ p {
  color: var(--primary-color);
}
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.contact-form {
  box-shadow: 0px 0px 60px 30px #00000008;
  background: #FAFAFA;
  border-radius: 36px;
  padding: 10px 50px 10px;
}
.contact-left {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 32px;
  position: relative;
  z-index: 1;
}
.shape {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-left h3 {
  color: #FAFAFA;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 14px;
}
.contact-left p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 43px;
}
.contact-details-list {
  margin-bottom: 60px;
}
.contact-details-list li {
  margin-bottom: 50px;
  color: #FAFAFA;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
}
.contact-details-list li:last-child {
  margin-bottom: 0;
}
.contact-details-list li a ,.contact-details-list li address{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}
.soacial-media-list {
  display: flex;
  gap: 24px;
}
.soacial-media-list li a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDDF57;
  color: #FAFAFA;
  text-decoration: none;
  transition: all 0.5s;
}
.soacial-media-list li a:hover {
  background: #FAFAFA;
  color: var(--primary-color);
}
.contact-right {
  padding: 50px 0 50px 26px;
}
.contact-right .form-label {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  font-family: var(--secondary-font);
  margin-bottom: 6px;
}
.contact-right .form-control {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #E0E0E0;
  background: transparent;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}
.contact-right .form-control::placeholder {
  color: #8D8D8D;
}
.contact-right .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color);
}
.contact-right .form-control:focus {
  color:var(--primary-color);
}
.contact-right .form-group {
  margin-bottom: 45px;
}
.checkbox-hdr {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.checkbox-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}
.send-btn {
  height: 77px;
  font-size: 24px;
  border-radius: 16px;
}
.contact-details-list li span {
  display: inherit;
}
.swiper {
  width: 100%;
}